@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap");

* {
  font-family: Ubuntu, sans-serif;
}

.toast-sucess {
  background-color: #006305;
}

.toast-error {
  background-color: #8a0000;
}
